<div class= "row"> 
    <div class = "col-mt-6">
        <h2><i class="far fa-calendar-alt"></i> <%= @event[:date] %></h2>
        <h1>RSVP for <%= @event[:title]%></h1>
    
        <p>Are you going?<p>
    </div>
</div>
